<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=title%>
    </title>
    <style>
        body {
            max-width: 500px;
            margin: auto;
        }
    </style>
</head>

<body>
    <p>
        ID:
        <%= user.facebookId %><br/> Username:
            <%= user.displayName %><br/> Name:
                <% if (user.email) { %>
                    Email:
                    <%= user.email %><br/>
                        <% } %>
    </p>

    <img src=<%=user.photo %> >

    <h4 id='fb_login'>
        <a href="/logout">Logout</a></h4>
</body>

</html>